:root{
    --darkPurple: #282B59;
    --lightPurple: #5D60A6;
    --lightGreen: #91F2CF;
    --darkGreen: #7EF2B0;
    --black: #262626;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans:Oxygen, sans-serif;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: white;
    font-size: var(--font-size);

}

h1, h2, h3{
    margin: 0;
}

a{
    color: var(--lightGreen);
}

#scroll-top-btn{
    cursor: pointer;
    position: fixed;
    top: 85%;
    right: 1em;
    border-radius: 50%;
    background-color: #5D60A6;
    color: white;
    border-width: 0;
    padding: 1em;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    font-size: 24px;
}

a:hover{
    color: var(--darkGreen);
    text-decoration: none;
}

img{
    width: 100%;
}

#logo_and_name{
    display: flex;
    align-items: center;
    gap: 1em;
}

.section-plum{
    background-color: var(--lightPurple);
}

.section-dkpurple{
    background-color: var(--darkPurple);
}

.gradient{
    background: linear-gradient(90deg, rgba(126,242,176,1) 0%, rgba(28,238,250,1) 100%);
    height: 2px;
}

/* intro styles*/
#intro{
    padding: 4rem 1rem 10rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
#intro p{
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name{
    font-family: var(--mono);
}

.name span{
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--darkGreen);
    display: block;
}

#intro h2{
    font-size: 4rem;
    font-weight: normal;
}



#contact {
    scroll-behavior: smooth;

    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 4rem 0;
    /* background-color: var(--black); */
}

#contact p:last-child{
    margin-top: 3rem;
}

.button {
    background-color: var(--darkGreen);
    color: var(--darkPurple);
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--mono);
}

.button:hover{
    color: var(--darkPurple);
    background-color: var(--lightGreen);

}



nav{
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
    border-bottom: 2px solid var(--darkGreen);
}

nav h1 a{
    font-family: var(--sans);

}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

nav li:first-child{
    flex-basis: 100%;
    text-align: center;
}


nav [class*="fa-"]{
    font-size: 150%;
    color: aqua;
}

nav h1[class*="fa-"]{
    font-size: 100%;
    color:aqua;
}

nav a{
    color: var(--darkGreen);
    text-decoration: none;
    display: block;
}


nav a:hover,
nav [class*="fa-"]:hover{
    color: var(--lightGreen);
}



/*project section*/
#projects, #about{
    scroll-behavior: smooth;
    position: relative;
    padding: 4rem 1rem;
}

#projects h2, #about h2{
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}

#projects h3, #about h3{
    color: var(--lightGreen);
}

#projects h4, #about h4{
    font-size: 1rem;
    font-family: var(--mono);
    margin: 0;
}

.blackbox{
    background-color: var(--black);
    padding: 1rem;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
}

.chip-tecnologia {
    background-color: #464a82;
    border-radius: 12px;
    padding: 0.25em;
    font-size: 14px;
    border: 1p solid #5D60A6;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1em;
}

#projects ul, #about ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;

}

#projects h4, #about h4 {
    margin-top: 1em;
}

#projects img, #about img{
    margin: 2rem 0 4rem 0;
    border-left: 1px solid var(--lightGreen);
    border-top: 1px solid var(--lightGreen);
    border-radius: 25px;
    max-width: 1100px;
    padding: 1rem;
}

@media (min-width: 550px){
    article{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1rem;
    }
#projects, #about{
    max-width: 1200px;
    margin: 0 auto;
}

    #projects img, #about img{
        grid-column: 1/6;
        grid-row: 1/2;
    }
    .text{
        order: 2;
        text-align: right;
        grid-column: 5/11;
        grid-row: 1/2;
    }
    #projects ul, #about ul{
        justify-content: flex-end;
    }

    #projects .reverse .text,
    #about .reverse .text
    {
        order: 2;
        text-align: left;
        grid-column: 1/7;
    }

    #projects .reverse img,
    #about .reverse img{
        grid-column: 6/11;
        grid-row: 1/2;
    }

    #projects .reverse ul,
    #about .reverse ul
    {
        justify-content: flex-start;
    }
}

@media(min-width :850px){
    nav{
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child{
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}

footer{
    text-align: center;
    padding: 4rem 0;
}

footer ul{
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
}